[package]
name = "vtracer-wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
js-sys = "0.3"
vtracer = { path = "../cmdapp", features = ["wasm"] }
visioncortex = "0.8"
image = "0.23"
